.bg{
    background-image: url("pic.jpg");
    height: 620px;
    position: relative;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 2.5;
}
